In [1]:
# checking java version
!java -version

openjdk version "11.0.16" 2022-07-19
OpenJDK Runtime Environment (build 11.0.16+8-post-Ubuntu-0ubuntu118.04)
OpenJDK 64-Bit Server VM (build 11.0.16+8-post-Ubuntu-0ubuntu118.04, mixed mode, sharing)

In [5]:
!pip install -q pdfplumber

     |████████████████████████████████| 40 kB 5.4 MB/s
     |████████████████████████████████| 3.1 MB 37.3 MB/s
     |████████████████████████████████| 5.6 MB 90.4 MB/s
     |████████████████████████████████| 142 kB 73.0 MB/s
     |████████████████████████████████| 4.0 MB 61.4 MB/s

In [7]:
# Importing .pdf file
import pdfplumber
import pandas as pd

pdf = pdfplumber.open("/content/All Admitted Candidates List MBBS_BDS & BSC NURSIN.pdf")
p0 = pdf.pages[0]

In [13]:
# Checking last file
p0 = pdf.pages[3056]

In [14]:
# Checking imported rows
table = p0.extract_table()
table[:3]

[['All Admitted Candidates List MBBS/BDS & BSC NURSING in UG 2021 Counselling',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None],
 ['S. No.',
  'Rollno',
  'Name',
  'QuotaName',
  'AIR',
  'Category',
  'optionNo',
  'Institute',
  'Subject',
  'Allotted \nCategory',
  'Allottedph',
  'Admitted \nin Round'],
 ['22550',
  '4103004064',
  'KAVIYASRI V',
  'Deemed/Paid Seats \nQuota',
  '922560',
  'OBC',
  '76',
  'Shri Sathya Sai Medical College and RI, \nChennai(200390),Sathya Sai Nagar, \nTiruporur-Guduvancherry Main Road, \nChennai, 603108, Tamil Nadu, 603108',
  'MBBS',
  'OP',
  'NO',
  '3']]

In [15]:
# Checking rows and header
df = pd.DataFrame(table[2:], columns=table[1])
df.head(3)

,S. No.,Rollno,Name,QuotaName,AIR,Category,optionNo,Institute,Subject,Allotted \nCategory,Allottedph,Admitted \nin Round
0,22550,4103004064,KAVIYASRI V,Deemed/Paid Seats \nQuota,922560,OBC,76,"Shri Sathya Sai Medical College and RI, \nChen...",MBBS,OP,NO,3
1,22551,2808022096,SALWA,Deemed/Paid Seats \nQuota,923057,OBC,2,"Yenepoya Dental College, \nYenepoya(200350),Un...",BDS,OP,NO,1
2,22552,2701001213,HRISHIKESH MUCHANDI,Deemed/Paid Seats \nQuota,924101,OBC,1,KLE VK Inst. of Dental Scie. \nBelagavi(200341...,BDS,OP,NO,1

In [18]:
# Write a loop to combine the dataframes

list_of_df = []

for i in range(3057):
  temp = pdf.pages[i]
  table = temp.extract_table()
  df = pd.DataFrame(table[2:], columns=table[1])
  list_of_df.append(df)
len(list_of_df)

3057

In [25]:
complete_df = pd.concat(list_of_df)
complete_df.reset_index(drop=True, inplace= True)

In [29]:
complete_df.tail()

,S. No.,Rollno,Name,QuotaName,AIR,Category,optionNo,Institute,Subject,Allotted \nCategory,Allottedph,Admitted \nin Round
22547,22548,4110007272,ABINAYA R,Deemed/Paid Seats \nQuota,922186,OBC,1,"Sree Balaji Dental College and Hospital, \nChe...",BDS,OP,NO,2
22548,22549,4114010340,THANYA R,Deemed/Paid Seats \nQuota,922480,OBC,1,"ACS Medical College and Hospital, \nChennai(20...",MBBS,OP,NO,4
22549,22550,4103004064,KAVIYASRI V,Deemed/Paid Seats \nQuota,922560,OBC,76,"Shri Sathya Sai Medical College and RI, \nChen...",MBBS,OP,NO,3
22550,22551,2808022096,SALWA,Deemed/Paid Seats \nQuota,923057,OBC,2,"Yenepoya Dental College, \nYenepoya(200350),Un...",BDS,OP,NO,1
22551,22552,2701001213,HRISHIKESH MUCHANDI,Deemed/Paid Seats \nQuota,924101,OBC,1,KLE VK Inst. of Dental Scie. \nBelagavi(200341...,BDS,OP,NO,1

In [30]:
# Saving the results in excel
complete_df.to_excel('MBBS_list.xlsx')